/*ORANGUTAN MAG, Issue 1. (c)d duan @speculative.hybridity 2025*/
/* styling for home.html */


.home-page {
    z-index: -1;
    min-height: 100vh; /* Matches body */
    background-image: url('imgs/home_bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.home-page::before {
    z-index: 0; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--orange-tint);
}

.home-overlay{
    z-index: 1;
    width: 600px;
    height: 400px;
    background-color: var(--overlay-base);
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-overlay > .grid-container{
    display: grid;
    overflow: visible;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main sidebar'
      'footer footer footer footer footer footer';
    grid-template-rows: 100px auto 100px;
    grid-template-columns: repeat(6, 1fr); /* Equal columns */
    gap: 0px;
    background-color: white;
    padding: 0px;
    width: 100%; /* Fill parent width */
    height: 100%; /* Fill parent height */
    box-sizing: border-box; /* Ensures padding doesn’t add extra size beyond defined overlay size */
}
.grid-container > div{
    text-align: center;
    padding: 10px;
    font-size: 16px;overflow: auto; /* Scroll if content overflows */
    overflow: auto;
  }

.item1 {
    grid-area: header;
    text-align: center;
    background-color: purple;
}

.item1 > h1 {
    font-size: 20px;
}

.item2 {
    grid-area: menu;
}

.item2 ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

.item2 li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #aeaeae;
}

.item2 li:hover {
    background-color: #0099cc;
}

.item3 {
    grid-area: main;
}

.item3 > h1 {
    font-size: 30px;
    margin-bottom: 7px;
}

.item3 > p {
    margin-bottom: 7px;
}

.item4 {
    grid-area: sidebar;
    border: 2px solid #0099cc;
    background-color: white;
    padding: 15px;
    color: #000000;
}

.item4 > h2 {
    font-size: 20px;
    padding-bottom: 10px;
}

.item4 li {
    padding: 5px;
    margin-bottom: 5px;
}

.item5 {
    grid-area: footer;
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 5px;
    }
    .homepage {
        background-size: contain;
    }
}