/*ORANGUTAN MAG, Issue 1. (c)d duan @speculative.hybridity 2025*/
/* styling for home.html */

/*                                                      BACKGROUND*/
.home-page {
    z-index: -1;
    background-image: url('imgs/home_bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.home-page::before {    /* orange tint overlay */
    z-index: 0; 
    content: '';
    width: 100%;
    height: 100%;
    background: var(--orange-tint);
    position: fixed;
    top: 0;
    left: 0;
}
/*                                                      CONTENT OVERLAY*/
.content-overlay {   /* background colour */
    z-index: 1;
    position: fixed;
    width: 55%;
    min-width: 500px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-overlay > .grid-container {
    display: grid;
    width: 100%; /* Fill parent width */
    height: 100%; /* Fill parent height */
    background-color: var(--sheer-grey);
    border-radius: 10px;
    
    grid-template-rows: 69px auto 1fr auto;
    padding: 5px;
    gap: 0px;
    box-sizing: border-box; /* ensures padding doesn’t add extra size beyond defined overlay size */
}
/*.grid-container > div {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    overflow: auto; 
    overflow: auto;
}*/
/*                                                      HEADER*/
.grid-container > header {
    border: var(--test-border);
    grid-row: 1;
    margin: auto;   /*horizontal and vertical centre*/
    font-size: 1.5em;
}
/*                                                      SUBHEADER*/
.grid-container > subheader {
    grid-row: 2;
    text-align: left;
    font-size: 0.5em;
    margin-top: 20px;
    display: flex;
}
.grid-container > subheader > div:nth-of-type(1) {
    max-width: 100px;
}
.grid-container > subheader > div {
    flex: 1;
    border: var(--test-border);
}
/*                                                      CONTENT*/
.grid-container > content {
    grid-row: 3;
    text-align: left;
    font-size: .8em;
    line-height: 3em;
    display: flex;
}
.grid-container > content > div:nth-of-type(1) {
    max-width: 100px;
}
.grid-container > content > div {
    flex: 1;
    flex-flow: column wrap;
    border: var(--test-border);
}
/*                                                      FOOTER*/
.grid-container > footer {
    grid-row: 4;
    display: grid;
    grid-template-columns: auto 1fr auto;
}
.grid-container > footer > label {
    font-size: 0.4em;
    padding-left: 40px;
    padding-right: 12px;
    margin: auto;
}
.grid-container > footer > input {
    font-size: 0.4em;
}
.grid-container > footer > button {
    font-size: 0.4em;
    margin-left: 12px;
    margin-right: 50px;
}



@media only screen and (max-width: 768px) {
    body {
        
    }
    .homepage {
        background-size: contain;
    }
}